<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="content">
        <h:form id="dataTable">
            <p:growl id="growl" sticky="true" />
            <p:remoteCommand name="onload" action="#{couponController.updateGrowl()}" autoRun="true" update="growl"/>
            <p:dataTable value="#{couponController.couponList}" var="coupon">
                <f:facet name="header">All Coupons</f:facet>
                <p:column headerText="Serial">
                    <h:outputText value="#{coupon.serial}" />
                </p:column>
                <p:column headerText="Date">
                    <h:outputText value="#{coupon.couponDate}" />
                </p:column>
                <p:column headerText="Seller">
                    <h:outputText value="#{coupon.seller}" />
                </p:column>
                <p:column headerText="Buyer">
                    <h:outputText value="#{coupon.buyer}" />
                </p:column>
                <p:column headerText="Total, Eur">
                    <h:outputText value="#{couponController.calculateCouponTotal(coupon)}" />
                </p:column>
                <p:column headerText="Total, Lt">
                    <h:outputText value="#{couponController.calculateTotalInLT(coupon)}" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Open"
                        action="#{couponController.update(coupon)}">
                    </p:commandButton>
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Delete"
                        action="#{couponController.delete(coupon)}">
                        <p:confirm header="Confirmation" message="Are you sure?"
                            icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button"
                            styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button"
                            styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:commandButton action="#{couponController.create}"
            update="updateForm" value="Create coupon"
            oncomplete="PF('createCoupon').show();" />
        <p:commandButton action="#{itemController.create}"
            update="itemForm" value="Add new item"
            oncomplete="PF('createItem').show();" />
        <p:chart id="chart1" type="line" model="#{itemController.calculateLineModel()}"/>
        <p:dialog header="Create Coupon" widgetVar="createCoupon"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="updateForm">
                <p:outputPanel rendered="#{couponModel.currentCoupon != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="serial">Serial:</p:outputLabel>
                        <p:inputText id="serial"
                            value="#{couponController.couponModel.currentCoupon.serial}"
                            required="true">
                            <f:validateLength minimum="2" maximum="14"/>
                            <p:ajax event="valueChange"
                            onstart="#{couponController.calculateBarcode()}" update="barcode2"/>
                        </p:inputText>
                        <p:message for="serial"></p:message>
                        
                        <p:outputLabel for="couponDate">Date:</p:outputLabel>
                        <p:calendar id="couponDate"
                            value="#{couponController.couponModel.currentCoupon.couponDate}">
                            <p:ajax event="dateSelect"
                            oncomplete="#{couponController.calculateBarcode()}" update="barcode2"/>
                        </p:calendar>
                        <p:message for="couponDate"></p:message>
                        
                        <p:outputLabel for="seller">Seller:</p:outputLabel>
                        <p:inputText id="seller"
                            value="#{couponController.couponModel.currentCoupon.seller}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="seller"></p:message>

                        <p:outputLabel for="buyer">Buyer:</p:outputLabel>
                        <p:inputText id="buyer"
                            value="#{couponController.couponModel.currentCoupon.buyer}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="buyer"></p:message>
                        
                        <h:outputText value="EAN-13" />
                        <p:barcode id="barcode2" value="#{couponController.calculateBarcode()}" type="ean13" format="png">
                        </p:barcode>
                        <p:message for="barcode2"></p:message>

                        <p:commandButton value="Save"
                            actionListener="#{couponController.save}"
                            update="updateForm dataTable"
                            oncomplete="if (!args.validationFailed) PF('createCoupon').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            actionListener="#{couponController.cancel}"
                            update="updateForm dataTable"
                            oncomplete="PF('createCoupon').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
        <p:dialog header="Create Item" widgetVar="createItem"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="itemForm">
                <p:outputPanel rendered="#{itemModel.currentItem != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <h:outputLabel for="coupon" value="Coupon"></h:outputLabel>
                        <p:selectOneMenu id="coupon"
                            value="#{couponController.couponModel.currentCoupon}"
                            converter="#{couponConverter}"
                            required="true">
                            <f:selectItem itemValue="#{null}" itemLabel="Not selected"
                                noSelectionOption="true">
                            </f:selectItem>
                            <f:selectItems
                                value="#{couponController.getCouponList()}" 
                                var="listedCoupon" itemValue="#{listedCoupon}"
                                itemLabel="#{listedCoupon.getSerial()}"/>
                        </p:selectOneMenu>
                        <p:message for="coupon"></p:message>
                        
                        <p:outputLabel for="name">Name:</p:outputLabel>
                        <p:inputText id="name"
                            value="#{itemController.itemModel.currentItem.name}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="name"></p:message>

                        <p:outputLabel for="amount">Amount:</p:outputLabel>
                        <p:inputText id="amount"
                            value="#{itemController.itemModel.currentItem.amount}">
                            <f:validator binding="#{positiveNumberValidator}" />
                        </p:inputText>
                        <p:message for="amount"></p:message>

                        <p:outputLabel for="units">Units:</p:outputLabel>
                        <p:inputText id="units"
                            value="#{itemController.itemModel.currentItem.units}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="units"></p:message>

                        <p:outputLabel for="price">Price:</p:outputLabel>
                        <p:inputText id="price"
                            value="#{itemController.itemModel.currentItem.price}">
                            <f:convertNumber type="number"/>
                            <f:validator binding="#{positiveNumberValidator}" />
                        </p:inputText>
                        <p:message for="price"></p:message>

                        <p:commandButton value="Save"
                            actionListener="#{itemController.save}"
                            update="itemForm dataTable chart1"
                            oncomplete="if (!args.validationFailed) PF('createItem').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            actionListener="#{itemController.cancel}"
                            update="itemForm"
                            oncomplete="PF('createItem').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>

    <ui:define name="title">
          All coupons
      </ui:define>

</ui:composition>