<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets" template="layout.xhtml">

    <ui:define name="title">
        Coupon items
    </ui:define>
    <ui:define name="leftside">
        <h:form id="couponInfo">
            <p:panelGrid columns="2">
                <f:facet name="header">Coupon Info</f:facet>
                <h:outputText value="Serial number:" />
                <h:outputText value="#{couponModel.currentCoupon.serial}" />
                
                <h:outputText value="Date:" />
                <h:outputText value="#{couponModel.currentCoupon.couponDate}" />
                
                <h:outputText value="Seller:" />
                <h:outputText value="#{couponModel.currentCoupon.seller}" />
                
                <h:outputText value="Buyer:" />
                <h:outputText value="#{couponModel.currentCoupon.buyer}" />
            </p:panelGrid>
            <p:commandButton value="Update"
                rendered="#{couponModel.currentCoupon != null}"
                update="couponInfo couponForm"
                oncomplete="PF('updateCoupon').show();" />
        </h:form>
        <p:dialog header="Edit Coupon" widgetVar="updateCoupon"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="couponForm">
                <p:outputPanel rendered="#{couponModel.currentCoupon != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="serial">Serial:</p:outputLabel>
                        <p:inputText id="serial"
                            value="#{couponController.couponModel.currentCoupon.serial}"
                            required="true">
                            <f:validateLength minimum="2" maximum="14"/>
                            <p:ajax event="valueChange"
                            onstart="#{couponController.calculateBarcode()}" update="barcode1"/>
                        </p:inputText>
                        <p:message for="serial"></p:message>
                        
                        <p:outputLabel for="couponDate">Date:</p:outputLabel>
                        <p:calendar id="couponDate"
                            value="#{couponController.couponModel.currentCoupon.couponDate}">
                            <p:ajax event="dateSelect"
                            oncomplete="#{couponController.calculateBarcode()}" update="barcode1"/>
                        </p:calendar>
                        <p:message for="couponDate"></p:message>
                        
                        <p:outputLabel for="seller">Seller:</p:outputLabel>
                        <p:inputText id="seller"
                            value="#{couponController.couponModel.currentCoupon.seller}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="seller"></p:message>

                        <p:outputLabel for="buyer">Buyer:</p:outputLabel>
                        <p:inputText id="buyer"
                            value="#{couponController.couponModel.currentCoupon.buyer}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="buyer"></p:message>
                        
                        <h:outputText value="EAN-13" />
                        <p:barcode id="barcode1" value="#{couponController.calculateBarcode()}" type="ean13" format="png"/>
                        <p:message for="barcode1"></p:message>

                        <p:commandButton value="Save"
                            actionListener="#{couponController.save}"
                            update="couponForm couponInfo"
                            oncomplete="if (!args.validationFailed) PF('updateCoupon').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            update="couponForm couponInfo"
                            oncomplete="PF('updateCoupon').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
    <ui:define name="rightside">
        <h:form id="itemTable">
            <p:growl id="growl" sticky="true" />
            <p:remoteCommand name="onload" action="#{itemController.updateGrowl()}" autoRun="true" update="growl"/>
            <p:dataTable value="#{couponController.getFreshItemList()}" var="item">
                <f:facet name="header">Coupon Items</f:facet>
                <p:column headerText="Name">
                    <h:outputText value="#{item.name}" />
                </p:column>
                <p:column headerText="Amount">
                    <h:outputText value="#{item.amount}" />
                </p:column>
                <p:column headerText="Units">
                    <h:outputText value="#{item.units}" />
                </p:column>
                <p:column headerText="Price">
                    <h:outputText value="#{item.price}" />
                </p:column>
                <p:column headerText="Total">
                    <h:outputText value="#{itemController.calculateItemTotal(item)}" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Update"
                        action="#{itemController.update(item)}" 
                        update="updateForm"
                        oncomplete="PF('createItem').show();" />
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Delete" update="@form" immediate="true"
                        actionListener="#{itemController.delete(item)}">
                        <p:confirm header="Confirmation" message="Are you sure?"
                            icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button"
                            styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button"
                            styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </p:column>
            </p:dataTable>
        </h:form>
        <p:commandButton action="#{itemController.create}"
            update="updateForm" value=" Create"
            oncomplete="PF('createItem').show();" />
        <p:dialog header="Create/Edit Item" widgetVar="createItem"
            modal="true" showEffect="fade" hideEffect="fade"
            resizable="false">
            <h:form id="updateForm">
                <p:outputPanel rendered="#{itemModel.currentItem != null}">
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel for="name">Name:</p:outputLabel>
                        <p:inputText id="name"
                            value="#{itemController.itemModel.currentItem.name}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="name"></p:message>

                        <p:outputLabel for="amount">Amount:</p:outputLabel>
                        <p:inputText id="amount"
                            value="#{itemController.itemModel.currentItem.amount}">
                            <f:validator binding="#{positiveNumberValidator}" />
                        </p:inputText>
                        <p:message for="amount"></p:message>

                        <p:outputLabel for="units">Units:</p:outputLabel>
                        <p:inputText id="units"
                            value="#{itemController.itemModel.currentItem.units}">
                            <f:validateLength maximum="255"/>
                        </p:inputText>
                        <p:message for="units"></p:message>

                        <p:outputLabel for="price">Price:</p:outputLabel>
                        <p:inputText id="price"
                            value="#{itemController.itemModel.currentItem.price}">
                            <f:convertNumber type="number"/>
                            <f:validator binding="#{positiveNumberValidator}" />
                        </p:inputText>
                        <p:message for="price"></p:message>

                        <p:commandButton value="Save"
                            actionListener="#{itemController.save}"
                            update="updateForm itemTable"
                            oncomplete="if (!args.validationFailed) PF('createItem').hide();">
                        </p:commandButton>
                        <p:commandButton value="Cancel"
                            actionListener="#{itemController.cancel}"
                            update="updateForm itemTable"
                            oncomplete="PF('createItem').hide();" immediate="true">
                        </p:commandButton>
                    </h:panelGrid>
                </p:outputPanel>
            </h:form>
        </p:dialog>
    </ui:define>
    <ui:define name="footer">
        <ui:include src="footer.xhtml" />
    </ui:define>
</ui:composition>